body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {

    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.navy-color {
    color: rgb(56, 36, 170);
}

.red-color {
    font-size: large;
    color: red;

}

.flexible-container {
    display: flex;
    margin-bottom: 90px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}


.half-width img {
    width: 100%;
    height: 100%;
}

.link-button {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {

    background-image: url(images/dream-bg.png);


    background-position: 100%;
    background-repeat: no-repeat;
}

.video-add {
    background-image: url(images/exp-bg.png);
    background-position-y: center;
    background-repeat: no-repeat;


}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-position-y: center;
    background-repeat: no-repeat;
}

#nd {
    background-image: url(images/New\ Project\ \(2\).png);
    background-position: 0%;
    background-repeat: no-repeat;
    border-left: 7px solid tomato;

}

#md {
    border-left: 7px solid rgb(36, 250, 168);
}


.lp {
    padding-right: 120px;
}

.new-add {
    width: 50%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;



}

.experience-item {

    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;

    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;

}

#full-stack-web-developer {
    border-left: 7px solid tomato;
}

#baby-web-developer {
    border-left: 7px solid rgb(36, 250, 168);
}

footer p {
    text-align: center;
}